/*stle the backgroung*/
body {
    background-color: #f2f2f2;
}
/*stle the nav bar*/
.navbar {
    background-color: #3f3f3f;
}
/*stle the footer*/
.footer {
    background-color: #3f3f3f;
} 
/*stle the main*/
.main {
    background-color: #f2f2f2;
}
/*stle the h1*/
h1 {
    color: #3f3f3f;
}
/*stle the h2*/
h2 {
    color: #3f3f3f;
}
/*stle the h3*/
h3 {
    color: #3f3f3f;
}
/*stle the h4*/
h4 {
    color: #3f3f3f;
}