body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Cartoon Face', cursive;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
nav h1 {
    /* give me cartoon font */
    font-family: 'Cartoon Face', cursive;
    font-weight: 700;
    font-size: 32px;
}
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* how to increase distance between each image */
.images img {
    margin: 20px;
}
.images img:hover {
    transform: scale(1.1);
}
/*create media query for 300px*/
@media (max-width: 786px) {
    nav {
        flex-direction: column;
    }
    nav h1 {
        text-align: center;
    }
    .images {
        flex-direction: row;
    }
    .images img {
        margin: 10px;
        width: 100px;
    }

}